appnope==0.1.2
asgiref==3.3.4
backcall==0.2.0
certifi==2018.10.15
chardet==3.0.4
decorator==4.4.2
Django==2.1
django-crispy-forms==1.7.2
idna==2.7
ipykernel==5.5.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==5.2.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
Pygments==2.8.1
python-dateutil==2.8.1
pytz==2018.5
pyzmq==22.0.3
requests==2.19.1
six==1.15.0
sqlparse==0.4.1
tornado==6.1
traitlets==4.3.3
typing-extensions==3.10.0.0
urllib3==1.23
wcwidth==0.2.5
